body {
    background-color: rgb(245, 240, 255);
    color: rgb(0, 20, 20);
    font-family: Arial, sans-serif;
    font-size: .900rem;
    letter-spacing: -.01rem;
    position: relative;
    line-height: 1.714;
    font-weight: 500;
  }
  /*  Image of small electric motor needs to be resized  */
    